body{
    background-color: gray;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

p{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.simple-text{
    position: flex;
    align-items: left;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

input[type="text"]{
    color: darkblue;
}

#btn{
    position: relative;
}

#btn:hover{
    color: green;
    font-weight: bold;
}

h1::first-letter{
    color: red;
    size: 2rem;
}

.email-input{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
}

.pass-input{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 300px;
    height: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}

.submit-button {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 15px;  
    top: 30px;       
}

.submit-button button {
    background-color: blue;   
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button button:hover{
    background-color: green;
    color: white; 
}
